﻿<div class="jumbotron">
  <h1 class="display-3">{{ pageTitle }}</h1>
  <p class="lead">{{ tagLine }}</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">{{ signUp }}</a>
  </p>
</div>