<div class="panel panel-primary" *ngIf="question">
  <div class="panel-heading">{{ question.title }}</div>
  <div class="panel-body">
    <h6 class="card-subtitle mb-2 text-muted">
        Submitted by {{ question.submitter }} on {{ question.submitted }}
    </h6>
    <div class="row">
        <div class="col-xs-2">
            <div class="vote-count">{{ question.votes }}</div>
            <div class="vote-label">Votes</div>
        </div>
        <div class="col-xs-2">
            <div class="vote-count">{{ question.views }}</div>
            <div class="vote-label">Views</div>
        </div>
        <div class="col-xs-8">
                <p class="card-text">{{ question.content }}</p>
        </div>
    </div>
    <div id="{{ question.questionId }}-metatags">
        <span class="badge badge-pill badge-default" *ngFor="let tag of question.metaTags">
            {{ tag }}
        </span>
    </div>
  </div>
</div>
