<div>
  <nav class='navbar navbar-default'>
      <div class='container-fluid'>
          <a routerLink="/home" class='navbar-brand'>{{pageTitle}}</a>
          <ul class='nav navbar-nav'>
              <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/questions" routerLinkActive="active">Question List</a></li>
          </ul>
      </div>
  </nav>
  <div class='container'>
      <router-outlet></router-outlet>
  </div>
</div>